*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;

}
body {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    margin: 0;
    padding: 0;
    background-color:#EAC926 !important;
    width:100%;
}

main {
    padding:10px;
    width:100%;
    max-width:1400px;
    margin:0 auto;
    background-color:whitesmoke;
    width:100%;
}
header {
    background-color: #EAC926;
    color: black;
    padding: 10px 20px; 
    width:100%;
}

.publicidad {
    width: 100%;
    height: auto;
    display:block;
    max-height:500px;
    object-fit:cover;
}
.contenedor-general {
    display: flex;
    flex-direction: column;
    gap:10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#EAC926;
    padding: 10px;
    font-size:14px;
}

nav ul {
    display:flex;
    flex-direction:row;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:12px;
    text-decoration:none;
    align-items:flex-start;
}

nav ul li {
    margin: 0 10px;
    text-decoration:none;
    font-size:12px;
}

a {
    text-decoration:none;
    font-siez:14px;
}
.logo {
    max-width: 50%;
    height:auto;
}

.login-bar {
    display: flex;
    justify-content: flex-end;  
    font-size:14px;
    text-align:right;
}

.login-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items:flex-start;
    flex-direction:row;

}

.login-bar ul li {
    margin: 0 10px;
}

.login-bar ul li a {
    background-color: #EAC926;
    text-decoration: none;
    font-size: 12px;
    

}
.icono-personalizado {
    background-color:  #1259c3;
    color:  red;
     
}
.search-bar {
    display:flex;
    align-items: flex-start;
    width:30%;
}
.search-bar input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width:350px;
}

.search-bar button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-cuotas {
    display:flex;
    align-items:center;
    gap:5px;
    padding:10px;
    position:relative;
    left:-100px;    
}

.logobarra-cuotas, 
.nav-login {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    flex-direction:row;
    
}

.logo-barra {
    display:flex;
    align-items:center;
    gap:20px;
    flex:1;
}    
a {
    color:black;
}
article {
    margin-bottom:10px;
    
}

.product-desc-box > .delivery-icon {
    display:block;
    font-size:16px;
    padding:5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -35px;
    transition: transform 0.3s ease;
}

.delivery-icon:hover {
    transform:rotate(-90deg);
}
    .product-desc-box {
    position: relative;
    }
.login-item {
    display:flex;
    align-items: center;
    gap:10px;

}

.burger-menu {
    display:none;
    align-items:center;
    margin-left:40%;
    font-size:30px;
    background-color:blue;
    color:#ebebeb;
    padding: 10px 20px;
    border-radius:7px;
}
.item-details {
    display:flex;
    margin-top: 0px;
    gap:25px;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
    border-top:1px solid #ebebeb;
    padding:15px;
    box-sizing:border-box; 
    height:340px;
}

.articles-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
}

.article {
    width: calc(25% - 20px);  /* Ajustar el ancho de los artículos */
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition:transform 0.2s;
}

h3 {
    margin-bottom:15px;
    margin-top: 10px;
}
.product-image {
    max-width: 100%;
    display: block;
    border:none;
}
.price {
    font-size: 18px;
    width:30%;
    margin-right:10px;
    font-weight: bold;
    }

.discount {
    width: 70%;
    color:green;
    }

.precio-descuento {
    display: flex;
    align-items: center;
    gap:30px;
}

.discount {
    font-size: 16px;
}

.description {
    font-size:16px;
    display:none;
}

.item-details:hover .description {
    display:block;
    opacity:1;
}
    
.product-image:hover {
    box-shadow: 0px 0px 30px rgba(100,100,100,0.9);
}


h4 {
    font-size: 12px;
}



.icon {
   font-size: 24px;
    color: white;
}

footer {
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
}

footer section {
    text-align: center;
    margin-bottom: 20px;
}

footer .icono {
    font-size: 2em;
    margin-bottom:10px;
    display:block;
}
footer section ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer section ul li {
    margin-bottom: 20px;
    text-align:center;
}

footer ul li i {
    font-size: 2em;
    margin-bottom: 10px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Elimina el margen por defecto de los párrafos */
    padding-top: 10px; /* Espacio entre el texto en negrita y el párrafo */
}

footer p i {
    margin-right:10px;
}
/*al menos 381, o sea de ahí para arriba la considero tablet. Por defecto menos a eso es celu */
@media (max-width:768px) { /*dispositivos móviles*/
    *{
        box-sizing:border-box;
        padding:0px;
        margin:0px;
    }
    body {
        font-family: 'Roboto', sans-serif;
        font-size:16px;
        margin: 0;
        padding: 0;
        background-color:#EAC926 !important;
        width:100%;
        
    }
    
    main {
        padding:10px;
        width:100%;
        max-width:1400px;
        margin:0 auto;
        background-color:whitesmoke;
    }
    
    header {
        background-color: #EAC926;
        color: black;
        padding: 10px 20px; 
        width:100%;
    }
    .contenedor-general {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .contenedor-cuotas {
        display:flex;
        align-items:flex-end;
        justify-content:flex-end;
        width:100%;
    }
    .login-bar,
    .nav,
    .article {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .logo {
        max-width: 50%;
        height:auto;
        margin-left:-90px;
    }
    .nav ul,
    .login-bar ul {
        align-items: center;
        flex-direction: column;
        display:flex;
        padding:0px;
    }
    .nav-login {
        display:flex;
        flex-direction: column;
        gap:10px;
        align-items:center;
    }
    .nav,
    .login-bar {
        display:none;
    }
    
    .logobarra-cuotas {
        flex-direction:column;
        gap:10px;
        align-items:center;
        color:black;
        display:flex;
    }
    .tarjeta-envio-seguridad {
        display:flex;
        flex-direction:column;
        gap:10px;
        align-items:center
    }
    .burger-menu {
        display:flex;
        align-items:center;
        font-size:30px;
        background-color:blue;
        color: #ebebeb;
        padding:10 px 20px;
        border-radius: 7px;
        width:13%;
        justify-content:center;
    }

    .banner {
        max-height:300px;
        overflow:hidden;
    }

    .articles-container {
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        gap:10px;
        height:200px;
        width:100%;
    }
    .article {
        width: 100%; /* Artículos ocupan todo el ancho en móviles */
        margin-bottom:20px;
    }
    .product-image {
        height:90px;
    }
    .product-desc-box > .delivery-icon {
        font-size:14px;
    }

    .price {
        font-size:0.9em;
        margin:0px;
        text-align:center;
        position:relative;
        left:13px;
    }
    .description {
        font-size:8px;
        display:flex;
        position:relative;
        left:13px;
    }
    .description.long-description {
        left:10px;
        position:relative;
        text-align:center;
        font-size:8px;
    }

    }
    .discount {
        font-size:0.7em;
        margin:0px;
        text-align:center;
    }
    discount span {
        display:block;
    }
    .search-bar {
        width: 100%;
        align-items: flex-start;
        display:flex;
        height:20px;
    }
        
    .search-bar input[type="text"] {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
        padding:5px;
        font-size:14px;
        width:250px;
        border:none;
        border-radius:5px;

    }
    
    .search-bar button {
        background-color:white;
        color:black;
        border:none;
        padding:5px 10px;
        border radius:5px;
        cursor:pointer;

    }
    .tarjeta-envio-seguridad{
        font-size:12px;
    }
    .b,strong{
        font-size:12px;
    }
@media (min-width:361px){
    body {
        box-shadow:0px 0px 10px rgb(100,100,100);
        width:100%;
    }    
*{
    box-sizing:border-box;
    padding:0px;        
    margin:0px;
}
    

    
}
}
/*
@media (min-width:769px) { /*tables y netbooks*/
 /*   .burger-menu {
        display:none;
    }
    .login-bar,
    .nav {
        display:flex;
    }

    .nav ul,
    .login-bar ul {
        display:flex;
        flex-direction: row;
    }
    .nav-login {
        display:flex;
        flex-direction: row;
        gap:25px;
    }
    .logobarra-cuotas {
        display:flex;
        flex-direction:row;
        gap:40px;
    }
    .tarjeta-envio-seguridad {
        display:flex;
        flex-direction:row;
    }
    footer .icono {
        color: blue;
    }
    footer .icono:hover {
        color: gren;
    }
}
/*    body {
        font-size:18px;
        box-shadow:0px 0px 10px rgb(100,100,100);

    }
    header {
        padding:20px;
        text-align:left;
    }
    main {
        padding:40px;
        width:90%;
    }
    footer {
        padding:20px;
    }
}


/*
@media (min-width: 381px) {
    nav ul li a {
        font-size: 14px;
    }

    .login-bar ul li a {
        font-size: 14px;
    }

    .search-bar input[type="text"] {
        font-size: 14px;
    }

    .search-bar button {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    nav ul li a {
        font-size: 16px;
    }

    .login-bar ul li a {
        font-size: 16px;
    }

    .search-bar input[type="text"] {
        font-size: 16px;
    }

    .search-bar button {
        font-size: 16px;
    }
}

*/form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: aliceblue;
}

input, textarea, select {
    margin-bottom: 10px;
    vertical-align: center

}

button {
    background-color: darkcyan;
    color:white}


/*Tamaños tipográficos: 
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;







